@page "/forgotpassword"
@layout LoginLayout

@if (_showError)
{
	<div class="alert alert-danger" role="alert">
		Невозможно восстановить пароль
	</div>
}

@if (_showSuccess)
{
	<div class="alert alert-success" role="alert">
		Ссылка для восстановления отправлена на Email: <strong>@_forgotPassDto.Email</strong>
	</div>
}

<EditForm Model="@_forgotPassDto" OnValidSubmit="Submit">
   <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@Icons.Filled.LockReset" Color="Color.Primary" Size="Size.Large"  Style="width: 100px; height: 100px;" />
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">Восстановление пароля</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.subtitle2" Class="mb-n4">Введите Email для восстановления</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Email" @bind-Value="_forgotPassDto.Email"  Variant="Variant.Outlined"></MudTextField>
            <ValidationMessage For="@(() => _forgotPassDto.Email)" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" ButtonType="ButtonType.Submit" FullWidth="true">Восстановить</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>