@if(RequestAbonents.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Supplier</th>
                <th scope="col">Prece</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in RequestAbonents)
            {
                <tr>
                    <td>
                        <a href="/product/@request.Id"></a>
                    </td>
                    <td class="align-middle">
                        <a href="/request/@request.Id">@request.ShortName</a>
                    </td>
                    <td class="align-middle">
                        @request.CreationTime
                    </td>
                    <td class="align-middle">
                        @request.Inn
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-info">Update</button>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>
        Loading products...
    </span>
}